In [1]:
import pandas as pd

value_n_list = ["Andrew", "Phillip", "John", "David", "Carlos", "Fabian", "Esteban", "Oscar", "Ricardo", "Luis"]
value_w_list = [50,        78,        91.5,   62,      71,       59,       80,        85,      66,        72] #[kg]
value_h_list = [1.76,      1.87,      1.69,   1.65,    1.70,     1.62,     1.72,      1.80,    1.68,      1.75] #[m]

data_dict = {"Name":value_n_list, "Weigh":value_w_list, "Height":value_h_list}

df = pd.DataFrame(data_dict)

value_b_list = []
cond_list = []
for i in range(10):
  bmi = value_w_list[i] / (value_h_list[i]**2)
  value_b_list.append(bmi)
  if bmi > 25:
    condicion = "Sobrepeso"  
  elif bmi < 18.5:
    condicion = "Bajo Peso" 
  else:
    condicion = "Saludable"
  cond_list.append(condicion)
df['BMI'] = value_b_list
df['Condicion'] = cond_list
df

      Name  Weigh  Height        BMI  Condicion
0   Andrew   50.0    1.76  16.141529  Bajo Peso
1  Phillip   78.0    1.87  22.305471  Saludable
2     John   91.5    1.69  32.036693  Sobrepeso
3    David   62.0    1.65  22.773186  Saludable
4   Carlos   71.0    1.70  24.567474  Saludable
5   Fabian   59.0    1.62  22.481329  Saludable
6  Esteban   80.0    1.72  27.041644  Sobrepeso
7    Oscar   85.0    1.80  26.234568  Sobrepeso
8  Ricardo   66.0    1.68  23.384354  Saludable
9     Luis   72.0    1.75  23.510204  Saludable